@model Employee
@{
    ViewData["Title"] = "Delete Employee";
}

<h1>Edit Employee</h1>
<br />
<br />

<form asp-action="Delete">
    @* action="/Department/Index" method="post" *@

    <partial name="PartialViews/DetailsDeleteEmployeePartial" />


    <input type="submit" value="Delete" class="btn btn-primary" />|
    <a asp-controller="Employee" asp-action="Index" class="btn btn-light">Back To List</a>

</form>


