
@model EmployeeViewModel
@{
    ViewData["Title"] = "Delete Employee";
}

<h1>Edit Employee</h1>
<br />
<br />

<form asp-action="Delete">
    @* action="/Department/Index" method="post" *@
   @*  <input type="hidden" asp-for="ImageName" /> *@ @* عشان لما اجي اعمل Submet لل form بتاعة ال delete الاقي input اخد منه ال value بتاعة اسم الصورة الي عملت على ال input بتاعها binding  *@
    <partial name="PartialViews/DetailsDeleteEmployeePartial" />


    <input type="submit" value="Delete" class="btn btn-primary" />|
    <a asp-controller="Employee" asp-action="Index" class="btn btn-light">Back To List</a>

</form>


